<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AskLaila Suite" verbose="1">
    <test name="Full Execution Flow">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Tests.FitnessCentresTest"/>
        </classes>
    </test>
</suite>