<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "AskLaila">

    <listeners>
        <listener class-name="Listeners.ExtentTestNGListener"/>
    </listeners>

    <test name = "Car Wash Services">
        <classes>
            <class name = "Tests.AskLailaTests"/>

        </classes>
    </test>

</suite>